<!-- views/teachers/show.html.erb -->

<h1><%= @essay.title %></h1>

<p>
  <strong>Autor:</strong>
  <%= @essay.user.username %>
</p>

<p>
  <strong>Redação:</strong>
  <%= @essay.body %>
</p>

<%= form_for @essay do |f| %>
  <%= f.label :grade %>
  <%= f.text_field :grade %>

  <%= f.label :comments %>
  <%= f.text_area :comments %>

  <%= f.submit %>
<% end %>
