<h1>Novo bdr</h1>

<% if @bdr.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@bdr.errors.count, "erro") %> impedem que a redacao seja gravada no banco de dados:</h2>
 
    <ul>
    <% @bdr.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_with scope: :redacao, url: bdr_path, local: true do |form| %>
  <p>
    <%= form.label :redacao %><br>
    <%= form.text_field :redacao %>
  </p>
 
  <p>
    <%= form.label :bdr %><br>
    <%= form.text_field :bdr %>
  </p>

  <p>
    <%= form.submit 'Salvar nova redacao' %>
  </p>
<% end %>
