<h1>Novo aluno</h1>

<% if @editar.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@editar.errors.count, "erro") %> impedem que a redacao seja editada na pagina do aluno:</h2>
 
    <ul>
    <% @editar.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with scope: :redacao, url: alunos_path, local: true do |form| %>
  <p>
    <%= form.label :editar %><br>
    <%= form.text_field :redacao_text_box %>
  </p>
 
  <p>
    <%= form.label :editar %><br>
    <%= form.text_field :titulo_text_box %>
  </p>

  <p>
    <%= form.submit 'Salvar nova versao da redacao' %>
  </p>
<% end %>
