<h1>Nova redacao</h1>

<% if @redacao.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@redacao.errors.count, "erro") %> impedem que o aluno sejam gravados no banco de dados:</h2>
 
    <ul>
    <% @redacao.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_with scope: :redacao, url: redacao_path, local: true do |form| %>
  <p>
    <%= form.label :redacao %><br>
    <%= form.text_field :redacao %>
  </p>
 
  <p>
    <%= form.label :texto %><br>
    <%= form.text_field :texto %>
  </p>

  <p>
    <%= form.submit 'Salvar nova redação' %>
  </p>
<% end %>
